/* color palette */
:root {
  --color-white: #ffffff;
  --color-white-soft: #f8f8f8;
  --color-white-mute: #f2f2f2;

  --color-coolgrey-100: hsl(210, 15%, 10%);
  --color-coolgrey-200: hsl(210, 15%, 20%);
  --color-coolgrey-300: hsl(210, 15%, 30%);
  --color-coolgrey-400: hsl(210, 15%, 40%);
  --color-coolgrey-500: hsl(209, 15%, 50%);
  --color-coolgrey-600: hsl(210, 15%, 60%);
  --color-coolgrey-700: hsl(210, 15%, 70%);
  --color-coolgrey-800: hsl(210, 15%, 80%);
  --color-coolgrey-900: hsl(210, 15%, 90%);

  --color-warmgrey-100: hsl(30, 5%, 10%);
  --color-warmgrey-200: hsl(30, 5%, 20%);
  --color-warmgrey-300: hsl(30, 5%, 30%);
  --color-warmgrey-400: hsl(30, 5%, 40%);
  --color-warmgrey-500: hsl(30, 5%, 50%);
  --color-warmgrey-600: hsl(30, 5%, 60%);
  --color-warmgrey-700: hsl(30, 5%, 70%);
  --color-warmgrey-800: hsl(30, 5%, 80%);
  --color-warmgrey-900: hsl(30, 5%, 90%);

  --color-black: #181818;
  --color-black-soft: #222222;
  --color-black-mute: #282828;

  --color-dusk-light: hsl(210, 50%, 50%);
  --color-dusk: hsl(210, 50%, 25%);
  --color-dusk-dark: hsl(210, 50%, 15%);

  --color-dawn-light: hsl(36, 93%, 68%);
  --color-dawn: hsl(30, 75%, 60%);
  --color-dawn-dark: hsl(30, 94%, 47%);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--color-white);
  --color-background-soft: var(--color-white-soft);
  --color-background-mute: var(--color-white-mute);

  --color-text: var(--black-soft);
  --color-text-inverted: var(--color-white-soft);

  --color-input-border: var(--color-coolgrey-700);
  --color-divider: var(--color-coolgrey-800);

  --color-primary: var(--color-dusk);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-black);
    --color-background-soft: var(--color-black-soft);
    --color-background-mute: var(--color-black-mute);

    --color-text: var(--color-white-soft);
    --color-text-inverted: var(--color-black-soft);

    --color-input-border: var(--color-warmgrey-300);
    --color-divider: var(--color-warmgrey-200);

    --color-primary: var(--color-dawn);
  }
}

/* other variables */
:root {
  --border-radius: 0.375rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.5;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
dialog {
  border: 2px solid var(--color-divider);
  background-color: var(--color-background);
  border-radius: 10px;
  padding: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.6);
}
