@import './base.css';

#app {
  font-weight: normal;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

button {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 0.5rem 0.75rem;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-text-inverted);
  cursor: pointer;

  .svg-inline--fa {
    width: 1rem;
    height: 1rem;
    padding: 0.25rem 0;
    align-items: center;
    justify-content: center;
  }

  &:hover {
    background-color: var(--color-primary-hover);
    border-color: var(--color-primary-hover);
  }

  &:disabled {
    background-color: var(--color-disabled);
    border-color: var(--color-disabled);
    cursor: default;
  }
}

a {
  color: var(--color-primary);
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  fieldset {
    border-radius: var(--border-radius);
    border: 1px solid var(--color-primary);
    padding: 0.25rem 0.75rem 0.75rem 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.75rem;

    legend {
      font-size: 0.875rem;
      font-weight: 700;
      color: var(--color-text);
      padding-bottom: 0.125rem;
      align-self: flex-start;
    }
  }

  .field {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .controlgroup {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    .field {
      flex-grow: 1;
    }
  }

  label {
    font-weight: 500;
    color: var(--color-text);
  }

  input,
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-input-border);
  }
}

dialog {
  border: 2px solid var(--color-divider);
  background-color: var(--color-background);
  border-radius: 10px;
  padding: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.6);
}

.patch {
  stroke: rgba(0, 0, 0, 0.5); /* subtle dark outline */
  stroke-width: 0.4; /* small width; adjust to taste */
  stroke-linejoin: round;
}

.outline-patch {
  border: 0.4px solid rgba(0, 0, 0, 0.5);
}
